// app global css in SCSS form
.q-table-s1 {
  tr,
  td {
    height: unset !important;
  }
  thead {
    tr {
      th {
        background: var(--q-primary);
        color: #fff;
        font-weight: bold;
        padding: 10px 12px;
        &:not(:last-child) {
          border-right: 1px solid #999999;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        color: #999;
        font-weight: bold;
        padding: 10px 12px;
        &:not(:last-child) {
          border-right: 1px solid rgba(0, 0, 0, 0.12);
        }
      }
      &:nth-child(1n) {
        background-color: #f9f9fa;
      }
      &:nth-child(2n) {
        background-color: #fff;
      }
    }
  }
}

.auth-page-bg {
  background: linear-gradient(#0000009c, #0000009c),
    url(assets/images/full_back.jpg) no-repeat center center / cover;
}
