<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
      @show="init"
    >
      <q-card class="q-dialog-plugin" style="width: 70%; height: auto;">
        <q-toolbar>
          <q-toolbar-title class="text-center" style="font-size: 18px;">
            <div v-if="action == 'create'" class="text-weight-bold">
              {{ $t("addRule") }}
            </div>
            <div v-else class="text-weight-bold">
              {{ $t("edit") }}
            </div>
          </q-toolbar-title>
          <q-btn
            v-close-popup
            flat
            round
            dense
            icon="close"
            @click="resetModel()"
          />
        </q-toolbar>
        <q-card-section class="q-pt-lg">
          <div class="text-h6">{{ $t("title") }}</div>
          <q-input
            ref="nameRef"
            v-model="rule.name"
            outlined
            :placeholder="$t('title')"
            :rules="[(val) => !!val || error.title]"
          >
          </q-input>
        </q-card-section>
        <q-card bordered>
          <!-- condition UP -->
          <q-card-section class="q-pt-lg">
            <div class="text-h6">{{ $t("selectCondition") }}</div>
            <div
              v-for="(item, index) in rule.conditions_up"
              :key="index"
              class="row q-mb-sm"
            >
              <div class="col-3 q-pr-sm">
                <q-select
                  v-model="item.term"
                  filled
                  :options="termOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('term')"
                  option-value="id"
                  option-label="name"
                  @update:model-value="changeTerm(item, index, 'up')"
                  @clear="clearSelectedOption(index, 'up')"
                >
                </q-select>
              </div>
              <div class="col-3 q-pl-sm">
                <q-select
                  v-model="item.operator"
                  filled
                  :options="item.operatorOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('operator')"
                  option-value="operator"
                  option-label="name"
                  :loading="item.isLoadingOperator"
                  :disable="item.isHiddenCondition"
                  @update:model-value="changeOperator('up')"
                  @clear="clearSelectedOption(index, 'up', true, item)"
                >
                </q-select>
              </div>
              <div class="col-3 q-pl-sm">
                <q-input
                  v-if="item.term?.type === 'date'"
                  v-model="item.value"
                  filled
                  clearable
                  :label="$t('date')"
                  :disable="item.isHiddenInput"
                >
                  <template #prepend>
                    <q-icon name="event" class="cursor-pointer" size="xs">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          v-model="item.value"
                          clearable
                          mask="YYYY-MM-DD"
                        >
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              flat
                              :label="$t('close')"
                              color="primary"
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
                <q-select
                  v-else-if="searchOptions.length"
                  v-model="item.value"
                  use-input
                  filled
                  :options="searchOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('search')"
                  :disable="item.isHiddenInput"
                  option-id="id"
                  option-label="name"
                ></q-select>
                <q-input
                  v-else
                  v-model="item.value"
                  filled
                  outlined
                  type="text"
                  :label="$t('search')"
                  :disable="item.isHiddenInput"
                >
                </q-input>
              </div>
              <div class="col-3 q-pl-sm">
                <q-toggle
                  v-model="item.block_and"
                  color="green"
                  checked-icon="check"
                  unchecked-icon="clear"
                  dense
                  :label="$t('and')"
                  @update:model-value="changeBlock(item, 'and', 'up', index)"
                />
                <q-toggle
                  v-model="item.block_or"
                  color="green"
                  dense
                  checked-icon="check"
                  unchecked-icon="clear"
                  :label="$t('or')"
                  @update:model-value="changeBlock(item, 'or', 'up', index)"
                />
              </div>
            </div>
          </q-card-section>
          <!-- condition DOWN -->
          <q-card-section class="q-pt-lg">
            <div class="text-h6">{{ $t("orSelectCondition") }}</div>
            <div
              v-for="(item, index) in rule.conditions_down"
              :key="index"
              class="row q-mb-sm"
            >
              <div class="col-3 q-pr-sm">
                <q-select
                  v-model="item.term"
                  filled
                  :options="termOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('term')"
                  option-value="id"
                  option-label="name"
                  @update:model-value="changeTerm(item, index, 'down')"
                  @clear="clearSelectedOption(index, 'down')"
                >
                </q-select>
              </div>
              <div class="col-3 q-pl-sm">
                <q-select
                  v-model="item.operator"
                  filled
                  :options="item.operatorOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('operator')"
                  option-value="operator"
                  option-label="name"
                  :loading="item.isLoadingOperator"
                  :disable="item.isHiddenCondition"
                  @update:model-value="changeOperator('down')"
                  @clear="clearSelectedOption(index, 'down', true, item)"
                >
                </q-select>
              </div>
              <div class="col-3 q-pl-sm">
                <q-input
                  v-if="item.term?.type === 'date'"
                  v-model="item.value"
                  filled
                  clearable
                  :label="$t('date')"
                  :disable="item.isHiddenInput"
                >
                  <template #prepend>
                    <q-icon name="event" class="cursor-pointer" size="xs">
                      <q-popup-proxy
                        cover
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          v-model="item.value"
                          clearable
                          mask="YYYY-MM-DD"
                        >
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              flat
                              :label="$t('close')"
                              color="primary"
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
                <q-select
                  v-else-if="searchOptions.length"
                  v-model="item.value"
                  use-input
                  filled
                  :options="searchOptions"
                  color="teal"
                  clearable
                  stack-label
                  :label="$t('search')"
                  :disable="item.isHiddenInput"
                  option-id="id"
                  option-label="name"
                ></q-select>
                <q-input
                  v-else
                  v-model="item.value"
                  filled
                  outlined
                  type="text"
                  :label="$t('search')"
                  :disable="item.isHiddenInput"
                >
                </q-input>
              </div>
              <div class="col-3 q-pl-sm">
                <q-toggle
                  v-model="item.block_and"
                  color="green"
                  checked-icon="check"
                  unchecked-icon="clear"
                  dense
                  :label="$t('and')"
                  @update:model-value="changeBlock(item, 'and', 'down', index)"
                />
                <q-toggle
                  v-model="item.block_or"
                  color="green"
                  dense
                  checked-icon="check"
                  unchecked-icon="clear"
                  :label="$t('or')"
                  @update:model-value="changeBlock(item, 'or', 'down', index)"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
        <q-inner-loading
          :showing="loadingComponant"
          :label="$t('pleaseWait')"
          label-class="text-teal"
          label-style="font-size: 1.1em"
        />
        <q-card-actions align="center">
          <q-btn
            no-caps
            color="primary"
            unelevated
            :label="$t('save')"
            :loading="loading"
            @click="formAction()"
          />
        </q-card-actions>
      
        <div v-if="errorDisplay" style="color: red;">
          <ul v-if="Array.isArray(errorDisplay)">
            <li v-for="(e, index) in errorDisplay" :key="index">
              {{ e }}
            </li>
          </ul>
          <span v-else>{{ errorDisplay }}</span>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { defineComponent, ref } from "vue";
import { api } from "boot/axios";
import { useQuasar } from "quasar";
import { useI18n } from "vue-i18n";
export default defineComponent({
  name: "RuleForm",
  emits: ["rule-saved"],
  setup(props, { emit }) {
    const { t } = useI18n();
    const $q = useQuasar();
    let nameRef = ref("");
    let loadingComponant = ref(false);
    let loading = ref(false);
    let rules = ref([]);
    let termOptions = ref([]);
    let isLoadingOperator = ref(false);
    let searchOptions = ref([]);
    let operatorOptions = ref([]);
    let errorDisplay = ref([]);
    const rule = ref({
      name: null,
      conditions_down: [
        {
          order: 0,
          term: null,
          value: "",
          operator: null,
          type: null,
          isHiddenInput: true,
          isHiddenCondition: true,
          operatorOptions: [],
          isLoadingOperator: false,
          block: null,
          block_or: false,
          block_and: false,
        },
      ],
      conditions_up: [
        {
          order: 0,
          term: null,
          value: "",
          operator: null,
          type: null,
          isHiddenInput: true,
          isHiddenCondition: true,
          operatorOptions: [],
          isLoadingOperator: false,
          block: null,
          block_or: false,
          block_and: false,
        },
      ],

      id: null,
    });
    let action = ref("");
    let show = ref(false);
    let error = ref({
      required: t("pleaseFillTheField").replace(/:field/gi, t("rule")),
      duplicated: t("ruleNameDuplicated"),
    });

    function formAction() {
      nameRef.value.validate();
      if (nameRef.value.hasError) {
        $q.notify({
          type: "warning",
          message: t("pleaseCorrectErrorsInForm"),
          position: "bottom-right",
        });
        return;
      }
      saveRule();
    }
    async function fetchTerms() {
      await api
        .get(`terms`)
        .then((resp) => {
          termOptions.value = resp.data;
        })
        .catch((error) => {
          $q.notify({
            title: t("errorTitle"),
            message: error.message,
            type: "warning",
            duration: 0,
            position: "bottom-right",
          });
        });
    }
    async function saveRule() {
      loading.value = true;
      const mappedConditionsDown = rule.value.conditions_down
        .map((item) => {
          if (item.operator) {
            return {
              block: item.block,
              operator: item.operator.operator,
              value: item.value,
              term_id: item.term?.id,
              order: item.order,
            };
          }
          return null;
        })
        .filter((item) => item !== null);

      const mappedConditionsUp = rule.value.conditions_up
        .map((item) => {
          if (item.operator) {
            return {
              block: item.block,
              operator: item.operator.operator,
              value: item.value,
              term_id: item.term?.id,
              order: item.order,
            };
          }
          return null;
        })
        .filter((item) => item !== null);
      console.log(mappedConditionsDown, "mappedConditionsDown");
      console.log(mappedConditionsUp, "mappedConditionsUp");

      await api
        .post(`saveRule`, {
          name: rule.value.name,
          rule_id: rule.value.id,
          conditions_up: mappedConditionsUp,
          conditions_down: mappedConditionsDown,
        })
        .then((rep) => {
          if (rep.status && rep.status == 200) {
            $q.notify({
              title: t("success"),
              message: t("success"),
              type: "success",
              position: "top",
              timeout: 2000,
              color: "positive",
              icon: "check_circle",
            });
            show.value = false;
            emit("rule-saved");
            resetModel();
          }
        })
        .catch((error) => {
          if (error.response && error.response.data.code === 422) {
            errorDisplay.value = error.response.data.error.messages;
          }else{
            $q.notify({
              title: t("errorTitle"),
              message: error.message,
              type: "warning",
              duration: 0,
              position: "bottom-right",
            });
          }
        })
        .finally(() => {
          loading.value = false;
        });
    }
    function resetModel() {
      rule.value = {
        name: null,
        conditions_down: [
          {
            order: 0,
            term: null,
            value: "",
            operator: null,
            type: null,
            isHiddenInput: true,
            isHiddenCondition: true,
            isLoadingOperator: false,
            operatorOptions: [],
            block: null,
            block_or: false,
            block_and: false,
          },
        ],
        conditions_up: [
          {
            order: 0,
            term: null,
            value: "",
            operator: null,
            type: null,
            isHiddenInput: true,
            isHiddenCondition: true,
            operatorOptions: [],
            isLoadingOperator: false,
            block: null,
            block_or: false,
            block_and: false,
          },
        ],
          
        id: null,
      };
      errorDisplay.value = []
    }
    function validationName(val) {
      if (!val) {
        return error.value.required;
      }
      let duplicateName = false;
      if (action.value == "edit") {
        duplicateName = rules.value.some((item) => {
          return (
            item.name.toLowerCase() === val.toLowerCase() &&
            item.id !== rule.value.id
          );
        });
      } else {
        duplicateName = rules.value.some(
          (rule) => rule.name.toLowerCase() === val.toLowerCase()
        );
      }
      if (duplicateName) {
        return error.value.duplicated;
      }
    }
    function init() {
      fetchTerms();
    }
    function clearSelectedOption(index, type, isOperator, item) {
      if (type == "up") {
        if (isOperator) {
          rule.value.conditions_up[index].isHiddenInput = true;
          rule.value.conditions_up[index].value = "";
          fetchTermOperators(item, index, type);
        } else {
          rule.value.conditions_up[index] = {
            order: 0,
            term: null,
            value: "",
            operator: null,
            type: null,
            isHiddenInput: true,
            isHiddenCondition: true,
            operatorOptions: [],
            isLoadingOperator: false,
            block: null,
            block_or: false,
            block_and: false,
          };
        }
      } else {
        if (isOperator) {
          rule.value.conditions_down[index].isHiddenInput = true;
          rule.value.conditions_down[index].value = "";
        } else {
          rule.value.conditions_down[index] = {
            order: 0,
            term: null,
            value: "",
            operator: null,
            type: null,
            isHiddenInput: true,
            isHiddenCondition: true,
            operatorOptions: [],
            isLoadingOperator: false,
            block: null,
            block_or: false,
            block_and: false,
          };
        }
      }
    }
    function changeTerm(item, index, action) {
      if (action == "up") {
        rule.value.conditions_up[index].isHiddenCondition = false;
        rule.value.conditions_up[index].operator = "";
        rule.value.conditions_up[index].value = "";
        rule.value.conditions_up[index].isHiddenInput = true;
      } else {
        rule.value.conditions_down[index].isHiddenCondition = false;
        rule.value.conditions_down[index].operator = "";
        rule.value.conditions_down[index].value = "";
        rule.value.conditions_down[index].isHiddenInput = true;
      }
      fetchTermOperators(item, index, action);
    }
    async function fetchTermOperators(child, index, action) {
      const conditions =
        action === "up" ? rule.value.conditions_up : rule.value.conditions_down;

      const condition = conditions[index];
      if (child.term) {
        condition.isLoadingOperator = true;
        await api
          .get(`getOperators?field_type=${child.term.type}`)
          .then((resp) => {
            condition.operatorOptions = resp.data.data.map((item) => {
              return {
                ...item,
                name: t(`columnOperator.${item.name}`),
              };
            });
            if (resp.data.possible_values) {
              searchOptions.value = resp.data.possible_values.map((item) => {
                return {
                  ...item,
                  name: t(`valuesOperator.${item.name}`),
                };
              });
            }
          })
          .catch((error) => {
            $q.notify({
              title: t("errorTitle"),
              message: error.message,
              type: "warning",
              duration: 0,
              position: "bottom-right",
            });
          })
          .finally(() => {
            if (action == "up") {
              condition.isLoadingOperator = false;
            } else {
              condition.isLoadingOperator = false;
            }
          });
      }
    }
    function changeOperator(type) {
      if (type == "up") {
        rule.value.conditions_up.map((item) => {
          item.isHiddenInput = false;
          if (
            item &&
            item.operator &&
            item.operator.operator &&
            (item.operator.operator == "IS NULL" ||
              item.operator.operator == "IS NOT NULL")
          ) {
            item.isHiddenInput = true;
            item.value = "";
          }
        });
      } else {
        rule.value.conditions_down.map((item) => {
          item.isHiddenInput = false;
          if (
            item &&
            item.operator &&
            item.operator.operator &&
            (item.operator.operator == "IS NULL" ||
              item.operator.operator == "IS NOT NULL")
          ) {
            item.isHiddenInput = true;
            item.value = "";
          }
        });
      }
    }
    function removecondition(index, type) {
      if (type == "down") {
        rule.value.conditions_down.splice(index + 1);
      } else {
        rule.value.conditions_up.splice(index + 1);
      }
    }
    function addCondition(type) {
      if (type == "down") {
        rule.value.conditions_down.push({
          term: null,
          order: rule.value.conditions_down.length,
          value: "",
          operator: null,
          type: null,
          block: null,
          block_or: false,
          block_and: false,
          isHiddenInput: true,
          isHiddenCondition: true,
          operatorOptions: [],
          isLoadingOperator: false,
        });
      } else {
        rule.value.conditions_up.push({
          term: null,
          order: rule.value.conditions_down.length,
          value: "",
          operator: null,
          type: null,
          block: null,
          block_or: false,
          block_and: false,
          isHiddenInput: true,
          isHiddenCondition: true,
          operatorOptions: [],
          isLoadingOperator: false,
        });
      }
    }
    function changeBlock(item, value, type, index) {
      if (value === "and") {
        item.block = item.block_and === false ? null : "and";
        if (item.block_and == true && item.block_or == true) {
          item.block_or = false;
        } else if (item.block_and == true && item.block_or == false) {
          addCondition(type);
        } else if (item.block_and == false && item.block_or == false) {
          removecondition(index, type);
        }
      } else if (value === "or") {
        item.block = item.block_or === false ? null : "or";
        if (item.block_or == true && item.block_and == true) {
          item.block_and = false;
        } else if (item.block_or == true && item.block_and == false) {
          addCondition(type);
        } else if (item.block_or == false && item.block_and == false) {
          removecondition(index, type);
        }
      }
    }
    return {
      show,
      action,
      rule,
      error,
      formAction,
      nameRef,
      resetModel,
      loadingComponant,
      loading,
      saveRule,
      rules,
      validationName,
      fetchTerms,
      termOptions,
      init,
      changeTerm,
      isLoadingOperator,
      fetchTermOperators,
      clearSelectedOption,
      changeOperator,
      searchOptions,
      removecondition,
      addCondition,
      operatorOptions,
      changeBlock,
      errorDisplay
    };
  },
});
</script>
<style scoped>
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-container > div {
  margin-right: 5px;
}
</style>
