<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="q-dialog-plugin" style="width: 30%; height: auto;">
        <q-toolbar>
          <q-toolbar-title class="text-center" style="font-size: 18px;">
            <div v-if="action == 'create'" class="text-weight-bold">
              {{ $t("addTerm") }}
            </div>
            <div v-else class="text-weight-bold">
              {{ $t("edit") }}
            </div>
          </q-toolbar-title>
          <q-btn
            v-close-popup
            flat
            round
            dense
            icon="close"
            @click="resetModel()"
          />
        </q-toolbar>
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-md-12">
              <q-input
                ref="nameRef"
                v-model="term.name"
                filled
                dense
                outlined
                clearable
                class="full-width"
                :label="$t('term') + '*'"
                lazy-rules
                :rules="[(val) => validationName(val)]"
              />
            </div>
            <div class="col-md-12">
              <q-select
                ref="typeRef"
                v-model="term.type"
                clearable
                filled
                use-input
                hide-selected
                fill-input
                dense
                options-dense
                input-debounce="0"
                :label="$t('type') + '*'"
                :options="typeOptions"
                option-value="id"
                option-label="name"
                lazy-rules
                :rules="[(val) => !!val || error.requiredType]"
              >
                <template #no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      {{ $t("noResults") }}
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
          </div>
        </q-card-section>
        <q-inner-loading
          :showing="loadingComponant"
          :label="$t('pleaseWait')"
          label-class="text-teal"
          label-style="font-size: 1.1em"
        />
        <q-card-actions align="center">
          <q-btn
            no-caps
            color="primary"
            unelevated
            :label="$t('save')"
            :loading="loading"
            @click="formAction()"
          />
        </q-card-actions>
        <div v-if="errorDisplay" style="color: red;">
          <ul v-if="Array.isArray(errorDisplay)">
            <li v-for="(e, index) in errorDisplay" :key="index">
              {{ e }}
            </li>
          </ul>
          <span v-else>{{ errorDisplay }}</span>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { defineComponent, ref } from "vue";
import { api } from "boot/axios";
import { useQuasar } from "quasar";
import { useI18n } from "vue-i18n";
export default defineComponent({
  name: "TermForm",
  emits: ["term-saved"],
  setup(props, { emit }) {
    const { t } = useI18n();
    const $q = useQuasar();
    let nameRef = ref("");
    let typeRef = ref("");

    let loadingComponant = ref(false);
    let loading = ref(false);
    let terms = ref([]);
    let typeOptions = ref([]);
    let errorDisplay = ref([]);
    const term = ref({
      name: null,
      type: null,
      id: null,
    });
    let action = ref("");
    let show = ref(false);
    let error = ref({
      required: t("pleaseFillTheField").replace(/:field/gi, t("term")),
      duplicated: t("termNameDuplicated"),
      requiredType: t("pleaseFillTheField").replace(/:field/gi, t("type")),
    });

    function formAction() {
      nameRef.value.validate();
      typeRef.value.validate();
      if (nameRef.value.hasError || typeRef.value.hasError) {
        $q.notify({
          type: "warning",
          message: t("pleaseCorrectErrorsInForm"),
          position: "bottom-right",
        });
        return;
      }
      saveTerm();
    }

    async function saveTerm() {
      loading.value = true;
      await api
        .post(`saveTerm`, {
          name: term.value.name,
          term_id: term.value.id,
          type: term.value.type?.id,
        })
        .then((rep) => {
          if (rep.status && rep.status == 200) {
            $q.notify({
              title: t("success"),
              message: t("success"),
              type: "success",
              position: "top",
              timeout: 2000,
              color: "positive",
              icon: "check_circle",
            });
            show.value = false;
            emit("term-saved");
            resetModel();
          }
        })
        .catch((error) => {
          if (error.response && error.response.data.code === 422) {
            errorDisplay.value = error.response.data.error.messages;
          }else{
            $q.notify({
              title: t("errorTitle"),
              message: error.message,
              type: "warning",
              duration: 0,
              position: "bottom-right",
            });
          }
        })
        .finally(() => {
          loading.value = false;
        });
    }
    function resetModel() {
      term.value = ref({
        name: null,
        id: null,
        type: null,
      });
      errorDisplay.value = []
    }

    function validationName(val) {
      if (!val) {
        return error.value.required;
      }
      let duplicateName = false;
      if (action.value == "edit") {
        duplicateName = terms.value.some((item) => {
          return (
            item.name.toLowerCase() === val.toLowerCase() &&
            item.id !== term.value.id
          );
        });
      } else {
        duplicateName = terms.value.some(
          (term) => term.name.toLowerCase() === val.toLowerCase()
        );
      }
      if (duplicateName) {
        return error.value.duplicated;
      }
    }
    return {
      show,
      action,
      term,
      error,
      formAction,
      nameRef,
      resetModel,
      loadingComponant,
      loading,
      saveTerm,
      terms,
      validationName,
      typeOptions,
      typeRef,
    };
  },
});
</script>
