<template>
  <q-layout view="hHh LpR fFf">
    <q-header reveal elevated class="bg-primary text-white elevated reveal">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          <q-avatar>
            <img
              src="https://www.chu-reims.fr/assets/CHU2002cyan-Reims-c53a3286b23822a70259553ed1eb5825a735f0dc33a1c9958b7de13cfbfae479.png"
            />
          </q-avatar>
          Reims
        </q-toolbar-title>
        <q-select
          v-model="locale"
          :options="localeOptions"
          dark
          dense
          borderless
          input-style="{ text-white }"
          emit-value
          map-options
          options-dense
          label-color="white"
          style="min-width: 150px;"
        >
          <template #prepend>
            <q-icon name="language" color="white" />
          </template>
        </q-select>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" side="left" bordered :width="250">
      <q-list bordered dense class="text-primary">
        <q-item
          v-ripple
          clickable
          exact
          to="/term"
          active-class="left-menu-link"
        >
          <q-item-section avatar>
            <q-icon name="construction" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t("term") }} </q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-ripple
          clickable
          exact
          to="/rule"
          active-class="left-menu-link"
        >
          <q-item-section avatar>
            <q-icon name="rule_folder" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t("rule") }} </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-drawer v-model="rightDrawerOpen" side="right" bordered>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from "vue";
import { useI18n } from "vue-i18n";

export default {
  setup() {
    const { locale } = useI18n({ useScope: "global" });
    const leftDrawerOpen = ref(false);
    const rightDrawerOpen = ref(false);

    return {
      locale,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      rightDrawerOpen,
      toggleRightDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value;
      },
      link: ref(),
    };
  },
  data() {
    return {
      confirm_modal: false,
      localeOptions: [
        { value: "en-us", label: "English" },
        { value: "fr", label: "Français" },
      ],
      location: null,
      sublocation: null,
      user: null,
      showLocationDropDownData: false,
      locations: [],
      subLocations: [],
      hidden: true,
      location_name: null,
      username: null,
    };
  },
  computed: {},
  watch: {
    locale() {
      // set quasar's language
      // todo This is poorly implemented. We should use a iso format and generate a list from there. Also, we should translate the language labels
      import(`../../node_modules/quasar/lang/${this.locale}`).then(
        (language) => {
          this.$q.lang.set(language.default);
        }
      );
    },
  },
  mounted() {},
  created() {},
  methods: {},
};
</script>

<style lang="sass">
.left-menu-link
  color: white
  background: $primary
</style>

<style lang="css">
.q-dialog > .q-dialog__inner > .q-card > .q-toolbar,
.q-dialog > .q-dialog__inner > .q-card > .q-bar {
  background: #1976d2 !important;
  min-height: 0px !important;
  color: #fafafa;
  text-align: center;
}
</style>
