<template>
  <q-table
    :no-data-label="$t('noDataFound')"
    :rows="rows"
    :columns="headers"
    row-key="id"
    :loading="isLoading"
    :filter="filter"
  >
    <!-- filters  -->
    <template #top-right>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 10px;
        "
      >
        <q-input v-model="filter" dense :placeholder="$t('search')">
          <template #prepend>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          size="sm"
          color="primary"
          icon="add"
          :label="$t('addRule')"
          @click="ruleFormDialog('create')"
        />
      </div>
    </template>
    <!-- header  -->
    <template #header="props">
      <q-tr :props="props">
        <q-th v-for="col in props.cols" :key="col.name" :props="props">
          {{ col.label }}
        </q-th>
        <q-th>{{ $t("action") }}</q-th>
      </q-tr>
    </template>
    <!-- body  -->
    <template #body="props">
      <q-tr :props="props">
        <q-td v-for="col in props.cols" :key="col.name" :props="props">
          {{ col.value }}
        </q-td>
        <q-td>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 10px;
            "
          >
            <q-btn
              size="sm"
              color="primary"
              icon="edit"
              unelevated
              :label="$t('edit')"
              @click="ruleFormDialog('edit', props.row)"
            />
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
  <rule-form ref="ruleFormRef" @rule-saved="saveRule" />
</template>
<script>
import { defineComponent, ref, onMounted, computed } from "vue";
import { api } from "boot/axios";
import { useQuasar } from "quasar";
import { useI18n } from "vue-i18n";
import RuleForm from "../components/RuleForm.vue";
export default defineComponent({
  name: "RuleComponent",
  components: { RuleForm },
  setup() {
    const { t } = useI18n();
    const $q = useQuasar();
    let filter = ref("");
    let rows = ref([]);
    let isLoading = ref(false);
    let ruleFormRef = ref("");

    function saveRule() {
      fetchRules();
    }

    function ruleFormDialog(action, row = null) {
      ruleFormRef.value.show = true;
      ruleFormRef.value.action = action;
      ruleFormRef.value.rules = rows.value;
      //to edit
      if (row) {
        ruleFormRef.value.rule = {
          name: row.name,
          conditions_up:
            row.conditions_up.length > 0
              ? row.conditions_up.map((condition) => ({
                  ...condition,
                  block_or: condition.block === "or",
                  block_and: condition.block === "and",
                }))
              : [
                  {
                    order: 0,
                    term: null,
                    value: "",
                    operator: null,
                    type: null,
                    isHiddenInput: true,
                    isHiddenCondition: true,
                    isLoadingOperator: false,
                    operatorOptions: [],
                    block: null,
                    block_or: false,
                    block_and: false,
                  },
                ],
          conditions_down:
            row.conditions_down.length > 0
              ? row.conditions_down.map((condition) => ({
                  ...condition,
                  block_or: condition.block === "or",
                  block_and: condition.block === "and",
                }))
              : [
                  {
                    order: 0,
                    term: null,
                    value: "",
                    operator: null,
                    type: null,
                    isHiddenInput: true,
                    isHiddenCondition: true,
                    isLoadingOperator: false,
                    operatorOptions: [],
                    block: null,
                    block_or: false,
                    block_and: false,
                  },
                ],
          id: row.id,
        };
        console.log("djdjssdj", ruleFormRef.value.rule);
      }
    }

    async function fetchRules() {
      isLoading.value = true;
      await api
        .get(`rules`)
        .then((resp) => {
          rows.value = resp.data;
        })
        .catch((error) => {
          $q.notify({
            title: t("errorTitle"),
            message: error.message,
            type: "warning",
            duration: 0,
            position: "bottom-right",
          });
        })
        .finally(() => {
          isLoading.value = false;
        });
    }

    onMounted(() => {
      fetchRules();
    });
    const headers = computed(() => [
      {
        name: "name",
        label: t("name"),
        field: "name",
        sortable: true,
        align: "center",
      },
      {
        name: "conditions_string",
        label: t("rule"),
        field: "conditions_string",
        sortable: true,
        align: "center",
      },
      // {
      //   name: "conditions_arbre",
      //   label: t("arbre"),
      //   field: "conditions_arbre",
      //   sortable: true,
      //   align: "center",
      //   formatter: (row) => {
      //     if (row.conditions_string) {
      //       const conditions = row.conditions_string.conditions;
      //       const formattedConditions = conditions.map((condition) => {
      //         if (condition.type === "group") {
      //           return `(${condition.value})`;
      //         }
      //         return condition.value;
      //       });
      //       return formattedConditions.join(" OU ");
      //     }
      //     return "";
      //   },
      // },
    ]);
    return {
      filter,
      rows,
      isLoading,
      ruleFormDialog,
      fetchRules,
      ruleFormRef,
      saveRule,
      headers,
    };
  },
});
</script>
