<template>
  <q-table
    :no-data-label="$t('noDataFound')"
    :rows="rows"
    :columns="headers"
    row-key="id"
    :loading="isLoading"
    :filter="filter"
  >
    <!-- filters  -->
    <template #top-right>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 10px;
        "
      >
        <q-input v-model="filter" dense :placeholder="$t('search')">
          <template #prepend>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          size="sm"
          color="primary"
          icon="add"
          :label="$t('addTerm')"
          @click="termFormDialog('create')"
        />
      </div>
    </template>
    <!-- header  -->
    <template #header="props">
      <q-tr :props="props">
        <q-th v-for="col in props.cols" :key="col.name" :props="props">
          {{ col.label }}
        </q-th>
        <q-th>{{ $t("action") }}</q-th>
      </q-tr>
    </template>
    <!-- body  -->
    <template #body="props">
      <q-tr :props="props">
        <q-td v-for="col in props.cols" :key="col.name" :props="props">
          {{ col.value }}
        </q-td>
        <q-td>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 10px;
            "
          >
            <q-btn
              size="sm"
              color="primary"
              icon="edit"
              unelevated
              :label="$t('edit')"
              @click="termFormDialog('edit', props.row)"
            />
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
  <term-form ref="termFormRef" @term-saved="saveTerm" />
</template>
<script>
import { defineComponent, ref, onMounted, computed } from "vue";
import { api } from "boot/axios";
import { useQuasar } from "quasar";
import { useI18n } from "vue-i18n";
import TermForm from "../components/TermForm.vue";
export default defineComponent({
  name: "TermComponent",
  components: { TermForm },
  setup() {
    const { t } = useI18n();
    const $q = useQuasar();
    let filter = ref("");
    let rows = ref([]);
    let isLoading = ref(false);
    let termFormRef = ref("");
    let typeOptions = ref([]);

    function saveTerm() {
      fetchTerms();
    }

    function termFormDialog(action, row = null) {
      termFormRef.value.show = true;
      termFormRef.value.action = action;
      termFormRef.value.terms = rows.value;
      termFormRef.value.typeOptions = typeOptions.value;
      //to edit
      if (row) {
        const option = typeOptions.value.find((o) => o.id == row.type);

        termFormRef.value.term = {
          name: row.name,
          type: {
            id: option ? option.id : row.type,
            name: option ? option.name : row.type,
          },
          id: row.id,
        };
      }
    }

    async function fetchTerms() {
      isLoading.value = true;
      await api
        .get(`terms`)
        .then((resp) => {
          rows.value = resp.data;
        })
        .catch((error) => {
          $q.notify({
            title: t("errorTitle"),
            message: error.message,
            type: "warning",
            duration: 0,
            position: "bottom-right",
          });
        })
        .finally(() => {
          isLoading.value = false;
        });
    }
    async function types() {
      await api
        .get(`getTypes`)
        .then((resp) => {
          typeOptions.value = resp.data;
        })
        .catch((error) => {
          $q.notify({
            title: t("errorTitle"),
            message: error.message,
            type: "warning",
            duration: 0,
            position: "bottom-right",
          });
        });
    }
    onMounted(() => {
      fetchTerms();
      types();
    });
    const headers = computed(() => [
      {
        name: "name",
        label: t("name"),
        field: "name",
        sortable: true,
        align: "center",
      },
      {
        name: "type",
        label: t("type"),
        field: "type",
        sortable: true,
        align: "center",
        format: (item) => {
          const option = typeOptions.value.find((o) => o.id == item);
          return option ? option.name : item;
        },
      },
    ]);
    return {
      filter,
      rows,
      isLoading,
      termFormDialog,
      fetchTerms,
      termFormRef,
      saveTerm,
      headers,
      typeOptions,
      types,
    };
  },
});
</script>
